<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{path '/css/normalize.css'}}" media="all">
<link rel="stylesheet" href="{{path '/css/style.css'}}" media="all">
</head>
<body>
<div id="container">

{{{ yield }}}

</div>
</body>
</html>