p,dt,dd,a,span,li,th,td {
	color: #231815;
	font-family: "Meiryo","小塚ゴシック Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Osaka","MS PGothic","ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}